<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Netlify Identity -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!-- Netlify Idetity -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{.Site.BaseURL}}css/styles.css">
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


    <!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    {{ with .Params.Seo.MetaTitle }}
    <title>{{ . }}</title>
    {{ end }}

    {{ with .Params.Seo.Metadescription }}
    <meta name="description" content="{{ . }}">
    {{ end }}

</head>
<body>