<hero class="hero__container">
<header>
    <div class="logo">
        <h1>Doodle Sal</h1>
    </div>
    <div class="social">
        <ul>
            <li>FB</li>
            <li>L</li>
            <li>IG</li>
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, quas rem et, asperiores dolorum a modi laborum at quo deserunt</p>
    </div>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Portfolio</li>
            <li>Home</li>
            <li>Home</li>
        </ul>
    </nav>
</header>
<div class="hero-body">
    <div class="section__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae eum pariatur consequatur dignissimos maiores nobis reiciendis quibusdam beatae atque dolor expedita, iusto aperiam placeat eos sint. Iste ea sit ut!</p>
    </div>

    <div class="carousel">
        <div class="single-item">
            <div>
                <img src="https://source.unsplash.com/random" alt="">
            </div>
            <div>
                <img src="https://source.unsplash.com/random" alt="">
            </div>
            <div>
                <img src="https://source.unsplash.com/nature" alt="">
            </div>
        </div>
    </div>
</div>
</hero>